{
  "extends": [
    "prettier/@typescript-eslint",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "env": {
    "jquery": true
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120
      }
    ]
  }
}